<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="syr.design.chat.mapper.NettyMessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="syr.design.chat.model.Message">
        <id column="id" property="id" />
        <result column="from_user_id" property="fromUserId" />
        <result column="to_user_id" property="toUserId" />
        <result column="to_group_id" property="toGroupId" />
        <result column="type" property="type" />
        <result column="message" property="message" />
        <result column="send_time" property="sendTime" />
        <result column="status" property="status" />
        <result column="created_at" property="createdAt" />
        <result column="message_type" property="messageType" />
        <result column="to_user_name" property="toUserName"/>
        <result column="from_user_name" property="fromUserName"/>
    </resultMap>

</mapper>
