<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="syr.design.chat.mapper.GroupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="syr.design.chat.model.Groups">
        <id column="id" property="id" />
        <result column="group_name" property="groupName" />
        <result column="created_at" property="createdAt" />
        <result column="status" property="status" />
    </resultMap>

</mapper>
