<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="syr.design.chat.mapper.UserGroupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="syr.design.chat.model.UserGroup">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="group_id" property="groupId" />
        <result column="role_id" property="roleId" />
        <result column="status" property="status" />
        <result column="created_at" property="createdAt" />
        <result column="group_name" property="groupName"/>
        <result column="username" property="username"/>
    </resultMap>

    <select id="findByGroupId" resultMap="BaseResultMap">
        select a.*
        from user_group a
        left join role b on a.role_id = b.id
        where a.group_id = #{groupId}
        order by b.lev
    </select>

    <select id="getGroupByUserId" resultMap="BaseResultMap">
        select a.*, b.group_name
        from user_group a
        left join groups b on a.group_id = b.id
        where
        a.user_id = #{userId}
        and a.status = #{status}
    </select>

    <select id="findWaitAgree" resultMap="BaseResultMap">
        select a.*, d.username as username, e.group_name as group_name
        from user_group a
        left join user_group b on a.group_id = b.group_id
        left join role c on b.role_id = c.id
        left join users d on a.user_id = d.id
        left join groups e on a.group_id = e.id
        where
        b.user_id = #{userId}
        and c.lev &lt;= #{lev}
        and a.status = #{status}
    </select>

</mapper>
