<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>聊天室</title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
    </script>

    <style>
        .result{
            margin-top: 20px;
            width: 100%;
            text-align: center;
            color: #005cbf;
        }
        .my_message{
            height: 30px;
            float: right;

        }
        .other_message{
            height: 30px;
            float: left;
        }
        .content{
            background: rgba(255, 255, 255, 0.85);
            padding: 10px;
            border-radius: 10px;
            margin: 6px 10px 0 10px;
            border: 1px solid #ccc;
            box-shadow: 0 0 3px #ccc;
            width: 60%;
            margin-bottom: 10px;
        }
    </style>
</head>

<script>
    let host = 'http://localhost:8000';

    let websocket_host = 'ws://localhost:9006/syr_websocket';

    let token = sessionStorage.getItem('token');

    let username = sessionStorage.getItem('username');

    let chat_type; //1 发送给个人 2 发送给群组

    let to_id;

    let toUserName;

    let websocket = null;

    function get(url, params, fun) {
        $.ajax({
            type: 'GET',
            headers: {
                'token': token
            },
            data: params,
            url: host + url,
            success: function(data) {
                fun(data);
            },
            error: function(err) {
                load();
            }
        });
    }

    function post(url, params, fun) {
        $.ajax({
            type: 'post',
            headers: {
                'token': token
            },
            url: host + url,
            data: params,
            success: function(data) {
                fun(data)
            },
            error: function(err) {
               load();
            }
        });
    }

</script>

<script>
    load();

    function load() {
        get('/users/ajax', null, function (data) {
            if (data.code === 2) {
                document.getElementById('login').style.display = 'inline';
                document.getElementById('index').style.display = 'none';
            } else {
                document.getElementById('login').style.display = 'none';
                document.getElementById('index').style.display = 'inline';
                web_socket_load();
                tag_message();
                title_style();
            }
        });
    }

    function submit_form() {
        let login_username = $("input#username").val();
        let password = $("input#password").val();
        post('/users/login', {username : login_username, password : password}, function (data) {
            if (data.code === 0){
                token = data.info;
                username = login_username;
                sessionStorage.setItem('username', username);
                sessionStorage.setItem('token', token);
                load();
            }
        })
    }

    function submit_register() {
        let register_username = $("input#username_register").val();
        let register_password = $("input#password_register").val();
        post('/users/register', {username : register_username, password : register_password}, function (data) {
            if (data.code === 0){
                document.getElementById('register').style.display='none';
                load();
            }else {
                alert(data.message);
            }
        })
    }

    function title_style() {
        document.getElementById('title').innerHTML = '<h3 class="panel-body" style="text-align: center">title ' + username + '`word</h3>';
    }

    function tag_logout() {
        sessionStorage.removeItem('token');
        sessionStorage.removeItem('username');
        token = '213';
        username = '123';
        document.getElementById('login').style.display='none';
        document.getElementById('index').style.display='none';
        websocket.close();
        load();
    }

    function register() {
        document.getElementById('login').style.display='none';
        document.getElementById('index').style.display='none';
        document.getElementById('register').style.display='inline';
    }

    function back_login() {
        document.getElementById('login').style.display = 'inline';
        document.getElementById('index').style.display = 'none';
        document.getElementById("register").style.display = 'none';
    }
</script>


<body style="font-family: Monaco,serif; ">

<!--注册界面-->
<div id="register" style="display: none;">
    <div style="margin-left: 30%; margin-right: 20%; margin-top: 10%">
        <table class="table table-striped table-bordered">
            <tr>
                <th style="text-align: center">用户名:</th>
                <th><input type="text" id="username_register"/></th>
            </tr>
            <tr>
                <th style="text-align: center">密码:</th>
                <th><input type="password" id="password_register"/></th>
            </tr>
            <tr>
                <th></th>
                <th>
                    <button onclick="submit_register()">注册</button>
                    <button onclick="back_login()">返回登陆</button>
                </th>
            </tr>
        </table>
    </div>
</div>

<!--登陆界面-->
<div id="login" style="display: none;">
    <div style="margin-left: 30%; margin-right: 20%; margin-top: 10%">
        <table class="table table-striped table-bordered">
            <tr>
                <th style="text-align: center">用户名:</th>
                <th><input type="text" id="username"/></th>
            </tr>
            <tr>
                <th style="text-align: center">密码:</th>
                <th><input type="password" id="password"/></th>
            </tr>
            <tr>
                <th></th>
                <th>
                    <button onclick="submit_form()">登陆</button>
                    <button onclick="register()">注册</button>
                </th>
            </tr>
        </table>
    </div>
</div>


<!--index界面-->
<div id="index" style="display: none;">
    <div class="panel panel-default" id="title">
        <h3 class="panel-body" style="text-align: center">title shangyouren`word</h3>
    </div>
    <div id="tag" style="width: 15%; height: 100%; float: left; margin-left: 20px; margin-top: 10px">
        <table class="table table-striped table-bordered">
            <thead><th style="text-align: center">left</th></thead>
            <tbody>
                <tr onclick="tag_message()">
                    <th><div id="tag_message" style="text-align: center">消息</div></th>
                </tr>
                <tr  onclick="tag_friend()">
                    <th><div id="tag_friend" style="text-align: center">朋友</div></th>
                </tr>
                <tr  onclick="tag_group()">
                    <th><div id="tag_group" style="text-align: center">群组</div></th>
                </tr>
                <tr  onclick="tag_apply_friend()">
                    <th><div id="tag_apply_friend" style="text-align: center">申请</div></th>
                </tr>
                <tr  onclick="tag_search_friend()">
                    <th><div id="tag_search_friend" style="text-align: center">搜索朋友</div></th>
                </tr>
                <tr  onclick="tag_search_group()">
                    <th><div id="tag_search_group" style="text-align: center">搜索群组</div></th>
                </tr>
                <tr  onclick="tag_create_group()">
                    <th><div id="tag_create_group" style="text-align: center">创建群组</div></th>
                </tr>
                <tr  onclick="tag_apply_group()">
                    <th><div id="tag_apply_group" style="text-align: center">管理群组</div></th>
                </tr>
                <tr  onclick="tag_logout()">
                    <th><div id="tag_logout" style="text-align: center">退出</div></th>
                </tr>
            </tbody>
        </table>
    </div>


    <div id="body" style="margin-top: 10px; margin-left: 10px; float: left; width: 70%">
        <ul id="body_friend" style="display: none;" class="list-group">
            <li style="text-align: center" class="list-group-item">right 朋友们</li>
        </ul>
        <ul id="body_group" style="display: none;" class="list-group">
            <li style="text-align: center" class="list-group-item">right 群组</li>
        </ul>
        <ul id="body_apply_friend" style="display: none;" class="list-group">
            <li style="text-align: center" class="list-group-item">right 好友申请</li>
        </ul>
        <ul id="body_message" style="display: inline" class="list-group">
            <li style="text-align: center" class="list-group-item">right 消息</li>
        </ul>
        <ul id="body_search_friend" class="list-group">
            <li style="text-align: center" class="list-group-item">right 搜索朋友</li>
            <div>
                <div style="float: right; margin-top: 10px">
                    <input type="text" id="search_friend_text"/>
                    <button onclick="search_friend()">搜索</button>
                </div>
            </div>
            <div id="search_friend_result"></div>
        </ul>
        <div id="body_chat" style="display: none">
        </div>
        <div id="body_send" style="display: none; width: 100%; margin-bottom: 20px">
            <input type="text" id="send_message" style="width: 80%;"/>
            <button id="send" onclick="send_websocket()" style="width: 15%;">发送</button>
        </div>
        <ul id="body_search_group" class="list-group">
            <li style="text-align: center" class="list-group-item">right 搜索群组</li>
            <div>
                <div style="float: right; margin-top: 10px">
                    <input type="text" id="search_group_text"/>
                    <button onclick="search_group()">搜索</button>
                </div>
            </div>
            <div id="search_group_result"></div>
        </ul>
        <ul id="body_apply_group" style="display: inline" class="list-group">
            <li style="text-align: center" class="list-group-item">right 群组申请，等待审批</li>
        </ul>
    </div>


</div>


</body>

<script>

    function tag_apply_group() {
        tag_apply_group_display();
        get('/userGroup/agreeList', null, function (data) {
            document.getElementById('body_apply_group').innerHTML = '<li style="text-align: center" class="list-group-item">right 群组申请，等待审批</li>';
            if (data.code === 0){
                for (let i = 0; i < data.info.length; i++){
                    document.getElementById('body_apply_group').innerHTML += '' +
                        '<li id="' + data.info[i].id + '" onclick="agree_user_group(this)" class="result list-group-item">' + data.info[i].username + '申请加入' + data.info[i].groupName + '</li>';
                }
            }else {
                alert(data.message);
            }
        })
    }

    function agree_user_group(obj) {
        post('/userGroup/agree', {userGroupId: obj.id}, function (data) {
            if (data.code === 0){
                alert('已经同意，恭喜你们找到了新的伙伴');
                tag_apply_group();
            }else {
                alert(data.message);
            }
        });
    }

    function tag_create_group() {
        let groupName = prompt("请输入群组名");
        if (null === groupName || groupName === ''){

        }else {
            post('/group/create', {groupName: groupName}, function (data) {
                if (data.code === 0){
                    alert('创建群组' + groupName + '成功');
                }else {
                    alert(code.message);
                }
            });
        }
    }

    function tag_search_group() {
        tag_search_group_display();
    }

    function search_group() {
        let keywords = $("input#search_group_text").val();
        if (keywords === ''){

        }else {
            post('/group/search', {keywords: keywords}, function (data) {
                document.getElementById('search_group_result').innerHTML = '<div style="margin-top: 20px; width: 100%; text-align: center;">结果</div>';
               if (data.code === 0){
                   for (let i = 0; i < data.info.length; i++) {
                       document.getElementById('search_group_result').innerHTML +=
                           '<div id="' + data.info[i].groupName + '" onclick="apply_group(this)" class="result">' +
                           '<div>' + data.info[i].groupName + '</div>' +
                           '<div id="' + data.info[i].groupName + 'id' + '" style="display: none">' + data.info[i].id + '</div>' +
                           '</div>';
                   }
               }
            });
        }
    }

    function apply_group(obj) {
        let groupId = document.getElementById(obj.id + 'id').innerText;
        post('/userGroup/apply', {groupId: groupId}, function (data) {
            if (data.code === 0){
                alert('申请加群成功，剩下的只能看群组管理员靠不靠谱了');
            }else {
                alert(data.message);
            }
        })
    }

    function search_friend() {
        let keywords = $("input#search_friend_text").val();
        if (keywords === ''){

        }else {
            post('/users/search', {keywords: keywords}, function (data) {
                document.getElementById('search_friend_result').innerHTML = '<div style="margin-top: 20px; width: 100%; text-align: center;">结果</div>';
                if (data.code === 0){
                    for (let i = 0; i < data.info.length; i++) {
                        document.getElementById('search_friend_result').innerHTML +=
                            '<div id="' + data.info[i].username +'" onclick="apply_friend(this)" class="result">' +
                            '<div>' + data.info[i].username + '</div>' +
                            '<div id="' + data.info[i].username + 'id' + '" style="display: none">' + data.info[i].id + '</div>' +
                            '</div>';
                    }
                }
            })
        }
    }

    function apply_friend(obj) {
        let friendUserId = document.getElementById(obj.id+'id').innerText;
        post('/friend/apply', {friendUserId: friendUserId}, function (data) {
            if (data.code === 0){
                alert("申请成功，静等通过");
                tag_search_friend();
            }else {
                alert(data.message);
            }
        })
    }

    function tag_search_friend() {
        tag_search_friend_display();
    }

    function tag_apply_friend() {
        tag_apply_display_friend();
        get('/friend/list', {status: 0}, function (data) {
            document.getElementById('body_apply_friend').innerHTML = ' <li style="text-align: center" class="list-group-item">right 好友申请</li>';
            if (data.code === 0){
                for (let i = 0; i < data.info.length; i++) {
                    let display_name;
                    let display_id;
                    if (data.info[i].fromUserName === username){
                        display_name = data.info[i].toUserName;
                        display_id = data.info[i].toUserId;
                    }else {
                        display_name = data.info[i].fromUserName;
                        display_id = data.info[i].fromUserId;
                    }
                    document.getElementById('body_apply_friend').innerHTML +=
                        '<li id="'+ display_name +'" onclick="agree_friend(this)" class="result list-group-item">' +
                        '<div>' + display_name + '</div>' +
                        '<div id="' + display_name + 'id' + '" style="display: none">'+ display_id +'</div>' +
                        '</li>';
                }
            }
        });
    }

    function agree_friend(obj) {
        let friendUserId = document.getElementById(obj.id + 'id').innerHTML;
        post('/friend/agree', {fromUserId: friendUserId}, function (data) {
            if (data.code === 0){
                alert("添加成功，恭喜你们遇到了彼此");
                tag_apply_friend();
            }else {
                alert(data.message);
            }
        })
    }

    function tag_message() {
        get('/message/messageInfo', null, function (data) {
            tag_message_display();
            if (data.code === 0){
                document.getElementById('body_message').innerHTML = '<li style="text-align: center" class="list-group-item">right 消息</li>';
                for (let i = 0; i < data.info.length; i++){
                    document.getElementById('body_message').innerHTML +=  '<li onclick="body_message(this)" id="' + data.info[i].name + '" class="result list-group-item"><div>' + data.info[i].name +'</div>' +
                            '<div id="' + data.info[i].name + 'id' + '" style="display: none"> ' + data.info[i].id + '</div>' + '<div id="' + data.info[i].name + 'type' + '" style="display: none">' + data.info[i].type + '</div>' + '</li>'
                }
            }
        });
    }

    function body_message(obj) {
        toUserName = obj.id;
        chat_type = Number(document.getElementById(obj.id + 'type').innerText);
        to_id = document.getElementById(obj.id + 'id').innerText;
        get('/message/message', {type: chat_type, id: to_id}, function (data) {
            document.getElementById('body_chat').innerHTML = '<ul style="text-align: center; margin-bottom: 10px" class="list-group-item">right '+ toUserName +'</ul><div style="margin-left: 5%; width: 90%" id="body_chat_message"></div>';
            body_message_display();
            for (let i = 0; i < data.info.length; i++){
                if (data.info[i].fromUserName === username){
                    document.getElementById('body_chat_message').innerHTML += '<div class="content my_message">' +  data.info[i].message + '</div>'
                }else {
                    document.getElementById('body_chat_message').innerHTML += '<div class="content other_message">' + data.info[i].message + '</div>'
                }
            }
        });
    }

    function tag_friend() {
        get('/friend/list', {status : 1}, function (data) {
            tag_friend_display();
            if (data.code === 0){
                document.getElementById('body_friend').innerHTML = '<li class="list-group-item" style="text-align: center">right 朋友们</li>';
                for (let i = 0; i < data.info.length; i++){
                    let display_name;
                    let display_id;
                    if (data.info[i].fromUserName === username){
                        display_name = data.info[i].toUserName;
                        display_id = data.info[i].toUserId;
                    }else {
                        display_name = data.info[i].fromUserName;
                        display_id = data.info[i].fromUserId;
                    }
                    document.getElementById('body_friend').innerHTML +=  '<li onclick="body_message(this)" id="' + display_name + '" class="list-group-item result"><div>' + display_name +'</div>' +
                        '<div id="' + display_name + 'id' + '" style="display: none"> ' + display_id + '</div>' + '<div id="' + display_name + 'type' + '" style="display: none">' + 1 + '</div>' + '</li>'
                }
            }
        });
    }

    function tag_group() {
        get('/userGroup/list', {status: 1}, function (data) {
            tag_group_display();
            if (data.code === 0){
                document.getElementById('body_group').innerHTML = ' <li style="text-align: center" class="list-group-item">right 群组</li>';
                for (let i = 0; i < data.info.length; i++){
                    document.getElementById('body_group').innerHTML += '<li onclick="body_message(this)" id="' + data.info[i].groupName + '" class="result list-group-item"><div>' + data.info[i].groupName +'</div>' +
                        '<div id="' + data.info[i].groupName + 'id' + '" style="display: none"> ' + data.info[i].groupId + '</div>' + '<div id="' + data.info[i].groupName + 'type' + '" style="display: none">' + 2 + '</div>' + '</li>'
                }
            }
        });
    }

    function body_message_display() {
        document.getElementById('body_friend').style.display='none';
        document.getElementById('body_group').style.display='none';
        document.getElementById('body_apply_friend').style.display='none';
        document.getElementById('body_message').style.display='none';
        document.getElementById('body_chat').style.display='inline';
        document.getElementById('body_send').style.display='inline';
        document.getElementById('body_search_friend').style.display = 'none';
        document.getElementById('body_search_group').style.display='none';
        document.getElementById('body_apply_group').style.display='none';
    }

    function tag_message_display() {
        document.getElementById('body_friend').style.display='none';
        document.getElementById('body_group').style.display='none';
        document.getElementById('body_apply_friend').style.display='none';
        document.getElementById('body_message').style.display='inline';
        document.getElementById('body_chat').style.display='none';
        document.getElementById('body_send').style.display='none';
        document.getElementById('body_search_friend').style.display = 'none';
        document.getElementById('body_search_group').style.display='none';
        document.getElementById('body_apply_group').style.display='none';
    }

    function tag_friend_display() {
        document.getElementById('body_friend').style.display='inline';
        document.getElementById('body_group').style.display='none';
        document.getElementById('body_apply_friend').style.display='none';
        document.getElementById('body_message').style.display='none';
        document.getElementById('body_chat').style.display='none';
        document.getElementById('body_send').style.display='none';
        document.getElementById('body_search_friend').style.display = 'none';
        document.getElementById('body_search_group').style.display='none';
        document.getElementById('body_apply_group').style.display='none';
    }

    function tag_group_display() {
        document.getElementById('body_friend').style.display='none';
        document.getElementById('body_group').style.display='inline';
        document.getElementById('body_apply_friend').style.display='none';
        document.getElementById('body_message').style.display='none';
        document.getElementById('body_chat').style.display='none';
        document.getElementById('body_send').style.display='none';
        document.getElementById('body_search_friend').style.display = 'none';
        document.getElementById('body_search_group').style.display='none';
        document.getElementById('body_apply_group').style.display='none';
    }

    function tag_apply_display_friend() {
        document.getElementById('body_friend').style.display='none';
        document.getElementById('body_group').style.display='none';
        document.getElementById('body_apply_friend').style.display='inline';
        document.getElementById('body_message').style.display='none';
        document.getElementById('body_chat').style.display='none';
        document.getElementById('body_send').style.display='none';
        document.getElementById('body_search_friend').style.display = 'none';
        document.getElementById('body_search_group').style.display='none';
        document.getElementById('body_apply_group').style.display='none';
    }

    function tag_search_friend_display() {
        document.getElementById('body_friend').style.display='none';
        document.getElementById('body_group').style.display='none';
        document.getElementById('body_apply_friend').style.display='none';
        document.getElementById('body_message').style.display='none';
        document.getElementById('body_chat').style.display='none';
        document.getElementById('body_send').style.display='none';
        document.getElementById('body_search_friend').style.display = 'inline';
        document.getElementById('body_search_group').style.display='none';
        document.getElementById('body_apply_group').style.display='none';
    }

    function tag_search_group_display() {
        document.getElementById('body_friend').style.display='none';
        document.getElementById('body_group').style.display='none';
        document.getElementById('body_apply_friend').style.display='none';
        document.getElementById('body_message').style.display='none';
        document.getElementById('body_chat').style.display='none';
        document.getElementById('body_send').style.display='none';
        document.getElementById('body_search_friend').style.display = 'none';
        document.getElementById('body_search_group').style.display='inline';
        document.getElementById('body_apply_group').style.display='none';
    }

    function tag_apply_group_display() {
        document.getElementById('body_friend').style.display='none';
        document.getElementById('body_group').style.display='none';
        document.getElementById('body_apply_friend').style.display='none';
        document.getElementById('body_message').style.display='none';
        document.getElementById('body_chat').style.display='none';
        document.getElementById('body_send').style.display='none';
        document.getElementById('body_search_friend').style.display = 'none';
        document.getElementById('body_search_group').style.display='none';
        document.getElementById('body_apply_group').style.display='inline';
    }

    function web_socket_load() {
        if ('WebSocket' in window) {
            websocket = new WebSocket(websocket_host + "?token=" + token);
        } else {
            alert('ERROR:当前浏览器不支持websocket')
        }
        websocket.onerror = function() {
            alert("WebSocket连接发生错误");
        };
        websocket.onopen = function() {

        };
        websocket.onmessage = function(event) {
            socket_message(event.data);

        };
        websocket.onclose = function() {
        };
        window.onbeforeunload = function() {
           websocket.close();
        };
    }

    function socket_message(json_str) {
        let data = JSON.parse(json_str);
        if (data.type === 1) {
            if (data.message.fromUserName === username){
                document.getElementById('body_chat_message').innerHTML += '<div class="content my_message">' +  data.message.message + '</div>'
            }else {
                document.getElementById('body_chat_message').innerHTML += '<div class="content other_message">' + data.message.message + '</div>'
            }
        }else {
            alert(data.msg);
        }
    }

    function send_websocket() {
        let send_str = $('input#send_message').val();
        if (send_str === ''){

        }else {
            if (chat_type === 1) {
                websocket.send(JSON.stringify(new to_user_chat(send_str)));
            }else {
                websocket.send(JSON.stringify(new to_group_chat(send_str)));
            }
        }
    }

    function message(toGroupId_p, toGroupName_p, toUserId_p, toUserName_p, type_p, message_str_p){
        this.toGroupId = toGroupId_p;
        this.toGroupName = toGroupName_p;
        this.toUserId = toUserId_p;
        this.type = type_p;
        this.message = message_str_p;
        this.messageType = 1;
        this.toUserName = toUserName_p;
    }

    function to_user_chat(message_str) {
        this.token = token;
        this.type = 1;
        this.fromUserName = username;
        this.message=new message(null, null, to_id, toUserName, chat_type, message_str);
    }

    function to_group_chat(message_str) {
        this.token = token;
        this.type = 1;
        this.fromUserName = username;
        this.message = new message(to_id, toUserName, null, null, chat_type, message_str)
    }

</script>

</html>
